* {
    box-sizing: border-box;
}

html {
    font-family: $default-font-family;
}

body {
    font-size: $standard-font-size;
}

h1 {
    padding: $margin 0;

    font-weight: bold;
    font-size: $xlarge-font-size;
}

h2 {
    padding: $margin 0;

    font-size: $xlarge-font-size;
}

button {
    padding: $margin;
    border: 0;

    background-color: $purple;

    color: $white;
    font-size: $standard-font-size;
}
