// TYPOGRAPHY
$default-font-family: 'PT Sans Narrow', sans-serif;

$xlarge-font-size: 24px;
$large-font-size: 20px;
$standard-font-size: 16px;
$small-font-size: 12px;

$margin: 20px;

// COLORS
$grey: #eee;
$green: #7bc8a4;
$orange: #f16745;
$yellow: #ffc65d;
$white: #fff;
