.minicart {
    margin: $margin*2 0;
    border: 1px solid $grey;
}

.minicart__title {
    display: inline-block;
    padding-right: $margin/4;
}

.minicart__count {
    font-weight: bold;

    &::before {
        content: '(';
    }
    &::after {
        content: ')';
    }
}

.minicart__total {
    margin-top: $margin;
    padding-top: $margin;
    border-top: 1px solid $grey;

    font-size: $xlarge-font-size;
}

.minicart__amount {
    font-weight: bold;
}
