.minicart-item {
    @include clearfix;

    margin: $margin 0;
    padding: $margin 0 0;
    border-top: 1px solid $grey;
}

.minicart-item__main {
    float: left;

    width: 80%;
}

.minicart-item__secondary {
    float: left;

    width: 20%;

    text-align: center;
}

.minicart-item__name {
    padding: 0 0 $margin;
}

.minicart-item__remove {
    padding: 1px 7px 4px;

    border-radius: 20px;
    background-color: $orange;
}
