.product {
    margin: $margin;
    padding: $margin;
    border-top: 1px solid $grey;
}

.product__name {
    display: inline-block;
    width: 70%;
    padding-right: $margin;
}

.product__price {
    width: 30%;

    font-weight: bold;
}

.product__main {
    @include clearfix;
}

.product__description {
    float: left;

    width: 70%;
    padding-right: $margin;
}

.product__cta {
    float: left;

    width: 30%;
    padding: $margin;
}
