doctype html
html
    head
        title Magical Bedroom Products
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/css/stylesheet.css')

    body.container
        .products.js-products

        .minicart.js-minicart
            h3 Cart
            .minicart__count.js-minicart__count 0
            .minicart__items.js-minicart__items
            .minicart__total.js-minicart__total $0

        script(src="/js/bundle.js")
