doctype html
html
    head
        title Magical Bedroom Products
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/css/stylesheet.css')

body
    h1 Magical Bedroom Products

    .products.js-products

    .minicart

    script(src="/js/bundle.js")
